<body>
<section id="container">
  <h2>Contact List</h2>
  <input id="getContacts" type="button" value="view your contacts"></input><br>
  <br>
  <br>
    <div id="name">Contact Full Name</div><br>
      <input type="text" name="name"><br>
    <br>
    <div id="email">Contact Email Address</div><br>
      <input type="text" name="email"><br>
    <br>
    <div id="phone">Contact Phone Number</div><br>
      <input type="text" name="phone"><br>
    <input id="makeContacts" type="button" value="add your contact"></input>
    <br>
    <br>
    <div id="search"><br>
      <input type="text" id="keyword" value="type to search"></input>
      <br>
      <input id="searchContacts" type="button" value="go!"></input>
    </div>
</section>
<aside id="results" class="hide">
    <table id="contacts">
        <thead>
            <tr>
              <th>Contact Name</th>
              <br>
              <th>Email</th>
              <br>
              <th>Phone</th>
              <br>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</aside>
</body>